table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 15%;
}

.center, hr {
    margin: auto;
    width: 75%;
    padding: 10px;
}

p, h1 {
    text-align: center;
}

#header {
    padding-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}