table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.w50 { width: 50%; }
.w40 { width: 40%; }
.w20 { width: 20%; }
.w17 { width: 17%; }
.w15 { width: 15%; }
.w10 { width: 10%; }
.w8  { width: 8%; }

.center, hr {
    margin: auto;
    width: 75%;
    padding: 10px;
}

p, h1, h3 {
    text-align: center;
}

#header {
    padding-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#error {
    color: red;
    text-align: left;
}